/****** COLORS ******/

$secondary-color: rgba(173,252,234,1) 26.8%;
$font-color: #243948;
$background-image: linear-gradient( 95.2deg, #adfcea 26.8%, #c0e5f6 64% );

/****** TRANSITIONS ******/

$transition-03: all 1s ease-in;